.card {
    height: 400px;
    width: 33,33%;
    margin-top: 20px;
    margin-bottom: 10px;
  }


  .img{
    background-image: url("house.png");
    height: 180px;
    background-position: center;
    background-size: cover;
  }
  .inf {
    padding: 24px;
    background-color: #F8F9FA
  //   height: 180px;
  }

.footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 90px;
}
